@model List<InventoryManagementService.Models.BookModel>

<!DOCTYPE html>

<table id="bookTable" class="table table-striped">
    <thead>
    <tr>
        <th>Порядковый номер книги в библиотеке</th>
        <th>Название книги</th>
        <th>Автор</th>
        <th>Год издания</th>
        <th>Жанр</th>
        <th>Число копий</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr data-book-id="@book.Id" onclick="rowClick('@book.Id')">
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Year</td>
            <td>@book.Genre</td>
            <td>@book.Amount</td>
            <td>
                <button class="btn btn-primary" onclick="editBook('@book.Id')">Редактировать</button>
                <button class="btn btn-danger" onclick="deleteBook('@book.Id')">Удалить</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    function rowClick(bookId) {
        window.location.href = '/Book/EditBook/' + bookId;
    }

    function editBook(bookId) {
        window.location.href = '/Book/EditBook/' + bookId;
    }

    function deleteBook(bookId) {
        if (confirm("Вы действительно хотите удалить эту книгу?")) {
            window.location.href = '/Book/DeleteBook/' + bookId;
        }
    }
</script>

<a href="/Book/AddBook" class="btn btn-success">Добавить новую книгу</a>